/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1300px;
  padding: 0 20px;
  overflow: auto;
}

.primary-text {
  color: yellow;
}

/* nav */
nav {
  background: #150805;
}

#nav-left {
  list-style: none;
  float: left;
}

#nav-left li {
  float: left;
}

#nav-left li a {
  color: #ffffff;
  padding: 25px;
  display: block;
  text-decoration: none;
}

#nav-right {
  list-style: none;
  float: right;
}

#nav-right li {
  float: left;
}

#nav-right li a {
  color: #ffffff;
  padding: 25px;
  display: block;
  text-decoration: none;
}

/* Main Content Home */
#home-main-content {
  background-image: url("../img/web_idea2_img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 600px;

  padding-top: 150px;
  padding-left: 50px;
  color: #ffffff;
}

#home-main-content h5 {
  padding-bottom: 25px;
}

#home-main-content h1 {
  font-size: 80px;
  padding-bottom: 20px;
}

#home-main-content p {
  padding-bottom: 25px;
}

.btn {
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
  background: none;
  padding: 13px 20px;
  border: 1px solid yellow;
  cursor: pointer;
}
