/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1300px;
  padding: 0 20px;
  overflow: auto;
}

/* nav */
nav {
  background: #150805;
}

#nav-left {
  list-style: none;
  float: left;
}

#nav-left li {
  float: left;
}

#nav-left li a {
  color: #ffffff;
  padding: 25px;
  display: block;
  text-decoration: none;
}

#nav-right {
  list-style: none;
  float: right;
}

#nav-right li {
  float: left;
}

#nav-right li a {
  color: #ffffff;
  padding: 25px;
  display: block;
  text-decoration: none;
}

/* Main Content Home */
#home-main-content {
  background: url("../img/web_idea2_img.jpg") no-repeat center center/cover;
  height: 1500px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}
